body {
	margin: 0;
}

.header-container {
	display: flex;
	justify-content: space-between;
	height: 56px;
	padding: 0px 16px;
}

.container {
	display: flex;
}

.guide-button-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	padding: 8px;
}

.hamburger {
	height: 24px;
	width: 24px;
}

.country-code {
	margin: 12px 10px 0 -10px;
	color: #606060;
	font-size: 10px;
	font-family: Roboto, Arial, sans-serif;
}

.logo {
	display: flex;
	height: 56px;
}

.logo-img {
	height: 56px;
}

.user-d {
	width: 225px;
}

.search-container {
  	min-width: 130px;
  	max-width: 728px;
  	display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input {
	height: 26px;
    min-width: 0px;
    width: 526px;
    padding: 2px 6px;
    border: 1px solid #CCCCCC;
    color: #f8f8f8;
}

.search-container button {
	float: right;
	height: 32px;
	width: 65px;
	padding: 1px 6px;
	background: #f8f8f8;
    border: 1px solid #CCCCCC;
    border-left: 0px;
	cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.iconify {
	height: 24px;
	width: 24px;
	color: #606060;
}

.search-btn {
	height: 20px;
	width: 20px;
}

.user-d {
	display: flex;
	width: 225px;
	align-items: center;
	justify-content: space-evenly;
	padding-right: 16px;
}

.user-d button {
	height: 40px;
	width: 40px;
	border: none;
	background-color: #ffffff;
}

.user-icon {
	height: 32px;
	width: 32px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#sidenav {
	width: 240px;
	height: 100%;
}

@media only screen and (max-width: 655px) {
	.search-container {
		justify-content: flex-end;
	}

	.search-container input {
		width: 0px;
		padding: 0px;
		background: #ffffff;
	    border: none;
	}

	.search-container button {
		height: 40px;
		width: 40px;
		border: none;
		background-color: #ffffff;
	}

	.search-btn {
		height: 24px;
		width: 24px;
	}
}

/*.sidenav {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 240px;
	position: fixed;
	z-index: 1;
	top: 56px;
	left: 0;
	background-color: #ffffff;
	padding-top: 20px;
	justify-content: stretch;
}

.nav {
	margin: 0px;
	padding: 0px;
}

.nav li {
	height: 40px;
	width: 240px;
	padding: 0px 24px;
	font: 14px Roboto Noto sans-serif;
	color: #030303;
	justify-self: stretch;
	list-style: none;
}*/

li:hover {
	background-color: #f2f2f2;
}